<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollaBrix Editor</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/theme/material-darker.min.css">
    
</head>

<body>
    
<div id="editorDiv">
    <div id="top">
        <img src="/static/img/logo3.png" class="top-logo">
    </div>
    <div id="bottom">

        <div id="sidebar">
            <div class="tab active" onclick="toggleTab('file',event)"><img src="/static/img/open-folder.png" class="tab-icon"></div>
            <div class="tab" onclick="toggleTab('run', event)"><img src="/static/img/play.png" class="tab-icon"></div>
            <div class="tab" onclick="toggleTab('users', event)"><img src="/static/img/person.png" class="tab-icon"></div>
        </div>

        <div id="ioAreaDiv">

            <div id="file" class="content">

                <!-- Top "EXPLORER" label row -->
                <div class="explorer-section-header">
                    <span class="explorer-section-title">Explorer</span>
                </div>

                <!-- Workspace row with hover-reveal action icons -->
                <div class="files-panel-header" id="file-box">
                    <div class="files-panel-title-row">
                        <span class="files-panel-workspace">
                            <svg class="chevron-icon" viewBox="0 0 16 16" width="12" height="12" fill="currentColor"><path d="M6 4l4 4-4 4V4z"/></svg>
                            CollaBrix
                        </span>
                        <div class="explorer-header-actions">
                            <button class="hdr-icon-btn" title="New File" onclick="createFile()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 1.1l3.4 3.5.1.4v2h-1V5H9V2H3v11h4v1H2.5l-.5-.5v-12l.5-.5h6.7l.3.1zM10 2v2h1.9L10 2zm4 11h-2v2H11v-2H9v-1h2V10h1v2h2v1z"/></svg>
                            </button>
                            <button class="hdr-icon-btn" title="New Folder" onclick="createFolder()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M14.5 3H7.71l-.85-.85L6.51 2h-5l-.5.5v11l.5.5h13l.5-.5v-10L14.5 3zm-.5 8.79V13H2V6h5.5l.5-.5V4h6v7.79zM6 11h1V9h2V8H7V6H6v2H4v1h2v2z"/></svg>
                            </button>
                            <button class="hdr-icon-btn" title="Upload Folder" onclick="document.getElementById('folderInput').click()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M8.06 2.012L11.55 5.5h-3v5h-1v-5H4.56l3.5-3.488zM6 11h5v1H6v-1zm-3 1v1h10v-1H3z"/></svg>
                            </button>
                            <button class="hdr-icon-btn" title="Open Folder" onclick="openLocalFolder()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M1.5 14h12l.5-.5v-8l-.5-.5H9.71l-.86-.85L8.5 4h-5l-.5.5v9l.5.5zM2 5h6.29l.86.85.35.15H13v7H2V5z"/></svg>
                            </button>
                            <button class="hdr-icon-btn" title="Copy Link" onclick="copyToClipboard()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M7.76 13.06l-1.06 1.06a3.54 3.54 0 0 1-5-5l2.83-2.83.7.7-2.83 2.83a2.54 2.54 0 0 0 3.59 3.59l1.06-1.06.7.7zm4.5-8.18a3.54 3.54 0 0 0-5 0L6.2 5.94l.7.7 1.06-1.06a2.54 2.54 0 0 1 3.59 3.59l-2.83 2.83.7.7 2.83-2.83a3.54 3.54 0 0 0 0-5zM5.64 11.07l-.71-.71 5.66-5.65.71.7-5.66 5.66z"/></svg>
                            </button>
                            <button class="hdr-icon-btn" title="Download" onclick="downloadFile()">
                                <svg viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M8.5 10.2V2h-1v8.2L4.7 7.4l-.7.7 3.5 3.5.5.2.5-.2 3.5-3.5-.7-.7L8.5 10.2zM3 14v1h10v-1H3z"/></svg>
                            </button>
                            <input type="file" id="folderInput" webkitdirectory style="display:none;" onchange="handleFolderUpload(event)">
                        </div>
                    </div>
                </div>

                <!-- Initial file entry -->
                <div id="file1" class="tabEditor active" data-ext="py" onclick="toggleEditor('editor1')" oncontextmenu="popupMenu(event)"><span class="item-icon"></span><span class="item-name">index.py</span></div>

            </div>

            <div id="run" class="content hidden">
                <button onclick="fetchData()">Run</button>
                <p>Input:</p>
                <textarea id="inputArea"  name="inputArea" rows="10" cols="10"></textarea>
                <p>Output:</p>
                <textarea id="outputArea" name="outputArea" rows="10" cols="10"></textarea>
            </div>

            <div id="users" class=" content hidden"  >
                <div class="user" style="display: flex; flex-wrap: wrap; flex-direction: row;">
                    <div class="userWrapper">
                        <div class="userDisplay">{{ userName[0].upper() }}</div>
                        <div class="userName" title={{userName}}>{{ userName }}</div>
                    </div>
                </div>
            </div>

        </div>

        <div id="textAreaDiv">
            <div id="editor1">
                <textarea id="textEditor1" rows="100" cols="100">#hello1</textarea>
            </div>
        </div>

    </div>
    
    <div id="popup" class="popup">
        <button class="button-popup" style="color: red;" onclick="deleteFile()">Delete</button>
        <button class="button-popup" onclick="renameFile()">Rename</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/edit/matchbrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const room_id = "{{ room_id }}";
        const userName = "{{ userName }}";
    </script>
    <script src="{{ url_for('static', filename ='js/script.js') }}"></script>

</body>
</html>
